name: CI-Build

permissions:
  contents: read
  checks: write
  pull-requests: write

on:
  push:
  schedule:
    - cron:  '21 21 * * *'
  workflow_dispatch:

jobs:
  build:
    uses: axonivy-market/github-workflows/.github/workflows/dev.yml@v6
    with:
      ivyPluginVersion: 14.0.0-SNAPSHOT
      mvnArgs: -Dmaven.test.skip=true # We run the tests on our Jenkins CI
